[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kevin-apuyan
[access "refs/for/refs/*"]
	read = group user/kevin-apuyan
	push = group user/kevin-apuyan
	label-Code-Review = -2..+2 group user/kevin-apuyan
	label-Verified = -1..+1 group user/kevin-apuyan
	rebase = group user/kevin-apuyan
	removeReviewer = group user/kevin-apuyan
	submit = group user/kevin-apuyan
[access "refs/heads/*"]
	read = group user/kevin-apuyan
	create = group user/kevin-apuyan
	push = +force group user/kevin-apuyan
	pushMerge = group user/kevin-apuyan
[access "refs/tags/*"]
	push = group user/kevin-apuyan
	push = +force group user/kevin-apuyan
